@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?21wsdu');
  src:  url('../fonts/icomoon.eot?21wsdu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?21wsdu') format('truetype'),
    url('../fonts/icomoon.woff?21wsdu') format('woff'),
    url('../fonts/icomoon.svg?21wsdu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-f-brands:before {
  content: "\e900";
}
.icon-twitter-brands:before {
  content: "\e901";
}
